* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    margin: 0 auto;
    max-width: 1160px;
}

.wrapper {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    min-width: 1200px;
}

:root {
    --col-mint: #18CFAB;
    --col-darkgreen: #1C2A33;
}
