.work {
    padding-top: 95px;
    background: #E9EDEF;
}

.work-list {
    display: flex;
    justify-content: center;
}

.work-item {
    padding: 15px;
    border: 1px solid #DADADA;
    text-transform: capitalize;
    cursor: pointer;
}

.js-green-item {
    color: #18CFAB;
    border: 1px solid #18CFAB;
}

.work-content-list {
    padding-top: 71px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.js-work-card {
    position: relative;
}

.js-work-photo {
    width: 100%;
}

.js-work-card-front,
.js-work-card-back {
    transition: 1s linear;
    backface-visibility: hidden;
}

.js-work-card-back {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #E9EDEF;
    transform: rotateY(180deg);
    text-align: center;
}

.js-work-card:hover .js-work-card-front {
    transform: rotateY(180deg);
}

.js-work-card:hover .js-work-card-back {
    transform: rotateY(360deg);
    border-top: 1px solid #18CFAB;
}

.js-card-back-more,
.js-card-back-search {
    padding: 12px;
    border: 2px solid #18CFAB;
    border-radius: 30px;
    margin-top: 48px;
    color: #18CFAB;
    transition: all 0.3s linear;
}

.js-card-back-more:hover,
.js-card-back-search:hover {
    background-color: #18CFAB;
    color: white;
}

.js-card-back-title {
    text-transform: uppercase;
    font-size: 14px;
    color: #18CFAB;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
}

.js-card-back-subtitle {
    font-size: 12px;
    color: #8A8A8A;
    text-transform: capitalize;
    font-weight: 300;
    padding-top: 13px;
    transition: color 0.3s linear;
    cursor: pointer;
}

.js-card-back-subtitle:hover {
    color: #18CFAB;
}

.js-btn-hide {
    display: none;
}

.load-btn {
    padding-top: 70px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    align-items: center;
}

.img-load {
    padding-right: 15px;
}

.preload-list {
    position: relative;
    width: 234px;
    height: 28px;
    margin: auto;
    display: none;
}

.preload-item {
    position: absolute;
    top: 30px;
    left: 20px;
    background-color: #E9EDEF;
    width: 28px;
    height: 28px;
    animation-name: bounce_preload-item;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    transform: scale(.3);
    border-radius: 19px;
}

.preload-item:nth-child(1) {
    left: 0;
    animation-delay: 0.6s;
}

.preload-item:nth-child(2) {
    left: 29px;
    animation-delay: 0.75s;
}

.preload-item:nth-child(3) {
    left: 58px;
    animation-delay: 0.9s;
}

.preload-item:nth-child(4) {
    left: 88px;
    animation-delay: 1.05s;
}

.preload-item:nth-child(5) {
    left: 117px;
    animation-delay: 1.2s;
}

.preload-item:nth-child(6) {
    left: 146px;
    animation-delay: 1.35s;
}

.preload-item:nth-child(7) {
    left: 175px;
    animation-delay: 1.5s;
}

.preload-item:nth-child(8) {
    left: 205px;
    animation-delay: 1.64s;
}

@keyframes bounce_preload-item {
    0% {
        transform: scale(1);
        background-color: var(--col-mint);
    }
    100% {
        transform: scale(.3);
        background-color: #E9EDEF;
    }
}

.preload-active {
    display: flex;
    justify-content: center;
}
