.breaking-news {
    padding-top: 82px;
}

.news-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 44px;
    grid-column-gap: 35px;
}

.news-item {
    position: relative;
}

.news-title-content {
    padding-top: 15px;
    background: #F8FCFE;
    border: 1px solid #F2F4F5;
}

.news-title {
    text-align: center;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 700;
    color: #717171;
    transition: color 0.3s linear;
}

.news-comments-item {
    display: flex;
    justify-content: center;
    color: #777777;
    font-size: 14px;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 10px;
}

.news-admin {
    border-right: 1px solid #777777;
    padding-right: 15px;
}

.news-comments {
    padding-left: 15px;
}

.news-subtitle {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #203E38;
    color: #FFFFFF;
    position: absolute;
    align-items: center;
    right: 0;
    top: 0;
    transition: background-color 0.3s linear;
}

.news-item:hover .news-subtitle {
    background-color: var(--col-mint);
}

.news-item:hover .news-title {
    color: var(--col-mint);
    transition: 0.3s linear;
}
