.overlay-section-client {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.38);
}

.client-feedback {
    background: url(../../img/section-clients-feedback/say-about-background.jpg) no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 129px;
}

.white-text {
    color: white;
    text-transform: none;
    padding-top: 98px;
}

.client-feedback-list {
    padding-top: 66px;
}

.client-feedback-item {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.client-feedback-text {
    padding-top: 36px;
    color: #BBBBBB;
    line-height: 30px;
    text-align: center;
}

.client-feedback-member {
    color: var(--col-mint);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 37px;
    padding-bottom: 38px;
}

.client-feedback-profession {
    color: #BBBBBB;
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
    padding-top: 15px;
}

.client-feedback-member-photo {
    box-shadow: 0 0 0 12px rgba(17, 76, 75, .6);
    border-radius: 50%;
}

.carousel {
    padding-top: 57px;
    padding-bottom: 104px;
}

.clients-gallery {
    display: flex;
    justify-content: center;
}

.clients-gallery-list {
    display: flex;
}

.previous,
.next {
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
    align-self: center;
    padding: 6px 10px;
    color: #BBBBBB;
    font-size: 16px;
    font-weight: 700;
    transition: all 0.3s linear;
    z-index: 10;
}

.js-active-btn {
    background-color: var(--col-mint);
    color: #FFFFFF;
    transform: scale(1.2);
}

.clients-photo {
    box-shadow: 0 0 0 7px rgba(17, 76, 75, .6);
    border-radius: 50%;
    cursor: pointer;
    width: 60px;
    transition: all 0.3s linear;
}

.clients-gallery-item {
    margin: 0 35px;
}

.shown {
    box-shadow: 0 0 0 7px rgba(17, 76, 75, .6);
    transform: translateY(-13px);
    transition: all 0.3s linear;
}

.active-client {
    display: flex;
    animation-name: nextSlide;
    animation-duration: 1.3s;
    animation-direction: normal;
    animation-timing-function: ease-out;
}

@keyframes nextSlide {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    60% {
        transform: scale(1.1);
    }
    80% {
        transform: scale(0.9);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
