.footer-content {
    padding: 48px 0;
    background-color: #22353F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-title {
    text-transform: capitalize;
    color: #AEAEAE;
    font-size: 14px;
    font-weight: 300;
}

.footer-title-logo {
    text-transform: none;
    color: var(--col-mint);
}
