.gallery-images {
    padding-top: 108px;
}

.grid-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
}

.grid-item-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width: 370px;
    gap: 3px;
}

.grid-gallery-item {
    padding-bottom: 21px;
}

.best-images {
    background-color: #FFFFFF;
    animation-name: best-images-item;
}

@keyframes best-images-item {
    0% {
        transform: scale(1);
        background-color: var(--col-mint);
    }
    100% {
        transform: scale(.3);
        background-color: #FFFFFF;
    }
}
