.header-content {
	background: url(../../img/header/header-background.png) no-repeat fixed;
	background-size: cover;
	background-position: center;
}

.overlay {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	background: #5e5d5899;
}

.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-logo {
	color: #FFFFFF;
	font-size: 32px;
	display: flex;
	align-items: center;
	position: relative;
}

.header-logo::before {
	content: url(../../img/header/header-logo.png);
	padding: 27px 5px;
}

.header-logo::after {
	content: url(../../img/header/header_logo_item.png);
	position: absolute;
	left: 22px;
}

.header-logo-text {
	color: var(--col-mint);
	font-size: 32px;
	font-weight: 700;
}

.nav-container {
	min-width: 60%;
}

.nav-list {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.nav-item-link {
	display: inline-block;
	text-transform: uppercase;
	padding: 55px 0;
	font-size: 16px;
	font-weight: 700;
	color: #ffffff;
	opacity: .6;
	transition: color .5s;
}

.nav-item-link:hover {
	color: var(--col-mint);
	padding-bottom: 52px;
	opacity: 1;
	border-bottom: 3px solid var(--col-mint);
	transition: color .5s;
}

.header-btn-search {
	border: none;
	background: none;
	color: #ffffff99;
	transition: all 0.3s linear;
}

.header-btn-search:hover {
	color: var(--col-mint);
	transform: scale(1.3);
}

.header-container-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 265px;
	color: #FFFFFF;
}

.header-title {
	color: #FFFFFF;
	font-size: 35px;
	font-weight: 700;
	text-transform: uppercase;
}

.header-title-colored {
	color: var(--col-mint);
}

.header-slogan {
	font-size: 80px;
	font-weight: 700;
	text-transform: uppercase;
	padding-top: 22px;
}

.header-subtitle {
	font-size: 34px;
	padding-top: 2px;
}

.header-btn {
	min-width: 360px;
	display: flex;
	justify-content: space-between;
	padding-top: 145px;
	padding-bottom: 243px;
}

.btn {
	text-transform: uppercase;
	box-sizing: border-box;
	font-size: 15px;
	border: none;
	color: #FFFFFF;
	font-weight: 700;
	border-radius: 5px;
	padding: 16px;
	box-shadow: 0 -5px #FFFFFF;
	display: flex;
	align-items: center;
}

.mint-btn {
	background-color: var(--col-mint);
	transition: .5s;
}

.mint-btn:hover {
	background-color: #fff;
	box-shadow: 0 -5px var(--col-mint);
	color: var(--col-mint);
	transition: .5s;
}



.blue-btn {
	background-color: #00CBF6;
	transition: .5s;
}

.blue-btn:hover {
	background-color: #fff;
	box-shadow: 0 -5px #00CBF6;
	color: #00CBF6;
	transition: .5s;
}
