.options-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.options-item {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 110px;
}

.options-item:nth-child(odd) {
    background-color: var(--col-darkgreen);
    color: var(--col-mint);
    border-top: 8px solid var(--col-mint);
}

.options-item:nth-child(even) {
    background-color: var(--col-mint);
    color: #FFFFFF;
    border-top: 8px solid #FFFFFF;
}

.options-item-img {
    margin-top: 95px;
    margin-bottom: 48px;
}
