.purchase {
    margin-top: 91px;
    background: url(../../img/section_purchase/purchase_background.jpg) no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.overlay-section {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.78);
}

.purchase-text {
    color: var(--col-mint);
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 127px;
}

.purchase-subtitle {
    color: #D8D8D8;
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 67px;
    display: flex;
    justify-content: center;
}

.purchase-btn {
    min-width: 360px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    padding-bottom: 127px;
}
