.services {
    padding-top: 83px;
}

.section-title {
    font-size: 36px;
    color: #4E4E4E;
    text-transform: capitalize;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.section-title::after {
    content: "";
    display: block;
    margin: 0 auto;
    transform: skew(70deg);
    height: 4px;
    width: 76px;
    border-top: 1px solid var(--col-mint);
    border-bottom: 1px solid var(--col-mint);
    margin-top: 37px;
    margin-bottom: 70px;
}

.section-content {
    padding-top: 69px;
}

.services-list-tabs {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.services-tabs-item {
    display: flex;
    justify-content: center;
    background: #F8FCFE;
    padding: 30px 0;
    font-size: 16px;
    text-transform: capitalize;
    color: #717171;
    border: 1px solid #EDEFEF;
    cursor: pointer;
}

.services-tabs-item:hover {
    border: 1px solid var(--col-mint);
}

.active-tab {
    background-color: var(--col-mint);
    color: #FFFFFF;
    position: relative;
}

.active-tab::after {
    content: "";
    border: 20px solid transparent;
    border-top: 20px solid var(--col-mint);
    top: 70%;
    left: 30%;
    transform: translate(50%, 50%);
    position: absolute;
}

.tabs-content {
    padding-top: 23px;
}

.tabs-content-item {
    display: flex;
    color: #777777;
    font-size: 14px;
    text-align: justify;
    display: none;
    line-height: 24px;
}

.tabs-content-photo {
    margin-right: 20px;
}

.active-text {
    display: flex;
}
