* {
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}

.logo-link {
	display: inline-block;
	text-decoration: none;
	margin: 63px 0 38px;
}

.logo-article {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 80px;
	line-height: 94px;
	color: #000;
	padding: 0;
}

.navigation {
	background-color: #35444F;
	display: flex;
	justify-content: center;
}

.nav-menu {
	display: flex;
	list-style: none;
	margin: 0;
}

.nav-item {
	border-left: 1px solid #fff;
}

.nav-item-link {
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	color: #fff;
	text-decoration: none;
	padding: 26px 40px 19px;
}

.nav-item-link:hover {
	background-color: #222F3A;
}

.main-content {
	display: flex;
	justify-content: space-between;
	margin: 48px auto 54px;
}

.sbar {
	border: 1px solid #35444F;
	width: 342px;
	height: 385px;
}

.sbar-menu {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	list-style: none;
}

.sbar-item {

}

.sbar-item-link {
	display: block;
	text-decoration: none;
	font-family: 'Roboto',sans-serif;
	font-size: 27px;
	line-height: 27px;
	color: #495863;
	padding: 25px 0 25px 44px;
}

.sbar-item-link:hover {
	color: #000;
	background-color: #DBDBDB;
	padding-left: 70px;
}

.main-article {
	width: 885px;
}

.main-article-preview {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 530px;
	border: 1px solid #35444F;
	margin-bottom: 17px;
}

.main-article-img {
	transition: 1s;
	width: 320px;
	height: 380px;
}

.main-article-img:hover {
	transform: scale(1.2);
}

.main-article-post {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	margin: 17px 5px;
}

.footer-content {
	background-color: rgba(99, 105, 110, 0.48);;
	display: flex;
	justify-content: space-between;
}

.footer-menu {
	display: flex;
	list-style: none;
	margin-left: 25px;
}

.footer-item-link {
	display: inline-block;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-size: 28px;
	color: #000;
	padding: 18px;
}

.footer-item-link:hover {
	border-bottom: 1px solid #3181A6;
	padding-bottom: 4px;
	color: #3181A6;
}

.copuright {
	font-family: 'Roboto', sans-serif;
	font-size: 28px;
	color: #000;
	padding: 18px;
	margin-right: 25px;
}

.blue {
	color: #66d3fa;
}
