html {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 14px;
}

.container {
	width: 1170px;
	margin: 0 auto;
	padding: 0;
}

.header {
	width: 100%;
}

.header-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #313131;
}

.header-nav-logo {
	display: flex;
	justify-content: space-between;
	text-decoration: none;
	margin-left: 30px;
}

.logo-text {
	font-family: 'Open Sans',sans-serif;
	font-weight: bold;
	font-size: 22px;
	line-height: 30px;
	color: #fff;
	padding-left: 40px;
	transition: 0.5s;
}

.logo-text:hover {
	color:#14B9D5;
}

.header-nav-menu {
	display: flex;
	justify-content: space-between;
}

.header-nav-menu-link {
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 600;
	font-size: 15px;
	line-height: 20px;
	color: #fff;
	margin: 0 25px;
	transition: 0.5s;
}

.search {
	background-color: #000;
}

.search-icon {
	margin: 28px;
}

.header-nav-menu-link:hover {
	color: #14B9D5;
}

.header-cont {
	display: flex;
	align-items: center;
	width: 100%;
	flex-direction: column;
	background: url(../images/header-bg.jpeg) no-repeat;
	background-position: center;
}

.header-cont-title {
	color: #fff;
	font-weight: bold;
	font-size: 27px;
	line-height: 37px;
	text-transform: uppercase;
	margin-top: 165px;
	margin-bottom: 35px;
}

.header-cont-link {
	display: inline-block;
	text-decoration: none;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	color: #fff;
}

.btn-green {
	background-color: #89CA62;
	border: 2px solid #89CA62;
	padding: 13px 15px;
	margin: 10px;
	border-radius: 5px;
	transition: 1s;
}

.btn-green:hover {
	color: #89CA62;
	background-color: #fff;
	border: 2px solid #89CA62;
}

.btn-blue {
	background-color: #18B4CF;
	border: 2px solid #18B4CF;
	padding: 13px 26px;
	margin: 10px;
	border-radius: 5px;
	transition: 0.5s;
}

.btn-blue:hover {
	color: #18B4CF;
	background-color: #fff;
	border: 2px solid #18B4CF;
}

.header-cont-btns {
	margin-bottom: 75px;
}

/* MOST POPULAR POSTS */
.main-content-title {
	text-align: center;
	margin: 50px auto;
	color: #18B4CF;
	font-weight: bold;
	font-size: 27px;
	line-height: 37px;
	text-transform: uppercase;
}

.most-popular-posts {
	display: flex;
	flex-flow: column wrap;
	height: 890px;
	margin-bottom: 50px;
}

.popular-post {
	width: calc((100% / 3) - 15px);
	margin-bottom: 30px;
}

.popular-post-img {
	width: 100%;
}

.popular-post-text {
	display: block;
	text-align: center;
	color: #353A3D;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	padding: 22px 0 22px;
	background-color: #F9F7F7;
}

/* OUR MOST POPULAR CLIENTS */

.our-clients {
	margin-bottom: 50px;
	width: 100%;
	height: 580px;
	background: url(../images/parallax-bg.jpeg) no-repeat;
	background-position: center;
}

.most-popular-clients {
	height: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 50px 1px 55px;
	grid-template-areas:
	"title title title title"
	"blue-line blue-line blue-line blue-line"
	"nat-post dryme house-home journy";
	row-gap: 80px;
	justify-items: center;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.popular-client-title {
	font-weight: bold;
	font-size: 32px;
	line-height: 44px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	grid-area: title;
}

.most-popular-clients div:nth-child(2) {
	grid-area: blue-line;
}

.most-popular-clients div:nth-child(3) {
	grid-area: nat-post;
}

.most-popular-clients div:nth-child(4) {
	grid-area: dryme;
}

.most-popular-clients div:nth-child(5) {
	grid-area: house-home;
}

.most-popular-clients div:last-child {
	grid-area: journy;
}

.blue-line {
	border-bottom: 2px solid #18B4CF;
	width: 60px;
	margin: 0 auto;
}

/* TOP RATED */

.top-rated {
	width: 100%;
}

.top-rated-cont {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: 1fr;
	overflow: hidden;
}

/* HOT NEWS */

.hot-news {
	margin-bottom: 75px;
}

.hot-news-post {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 259px 1fr 1fr 259px;
	gap: 44px 60px;
}

.hot-news-post div:first-child {
	grid-column: 1/4;
}

.news-post-cont figure:first-child {
	grid-column: 4/-1;
}

.hot-news-post div:nth-child(3) {
	grid-column: 1/3;
}

.hot-news-post div:nth-child(4) {
	grid-column: 3/-1;
}

.hot-news-post div:nth-child(5) {
	grid-column: 1/3;
}

.hot-news-post div:nth-child(6) {
	grid-column: 3/-1;
}

.news-post-cont figure:last-child {
	grid-column: 1/2;
}

.hot-news-post div:last-child {
	grid-column: 2/-1;
}

/* HORIZEN ITEMS */

.horizen-item {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	align-items: start;
}

.horizen-post-cont {
	text-align: right;
	background-color: #F9F7F7;
	padding: 41px 20px 41px 0;
}

.horizen-item-title {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 15px;
	color: #353A3D;
}

.horizen-item-text {
	font-weight: 600;
	font-size: 13px;
	line-height: 21px;
	color: #5B6469;
}

/* SIMPLE ITEMS */

.news-post-cont {
	text-align: right;
	background-color: #F9F7F7;
	padding: 15px;
}

.news-item-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 15px;
	color: #353A3D;
}

.news-item-text {
	font-weight: 600;
	font-size: 13px;
	line-height: 21px;
	color: #5B6469;
}

/* FIGURE ITEMS */

.news-figure-title {
	display: block;
	background-color: #F9F7F7;
	font-size: 18px;
	line-height: 25px;
	color: #353A3D;
	padding: 15px 42px;
}

/* FOOTER */

.footer {
	width: 100%;
	background-color: #000;
}

.footer-cont {
	display: grid;
	grid-template-columns: 90% 10%;
	grid-template-rows: 80px;
	align-items: center;
}

.copyright {
	text-align: left;
	color: #fff;
	font-size: 13px;
	line-height: 13px;
}

.developers img:first-child {
	margin-bottom: -8px;
}
