.hero {
	width: 100vw;
	background: url(../../images/bg1.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	padding-top: 25px;
}

.navigation {
	background-color: #fff;
	width: 100vw;
}

.nav-cont {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-logo {
	text-decoration: none;
	color: var(--col-grey);
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 36px;
	transition: .7s;
	margin-right: 160px;
	padding: 40px 0 40px;
}

.nav-logo span {
	text-transform: uppercase;
	font-weight: 700;
	color: var(--col-blue);
}

.nav-logo:hover {
	color: var(--col-blue);
	transition: .7s;
}

.nav-menu {
	display: flex;
	justify-content: space-between;
}

.nav-link {
	text-decoration: none;
	text-transform: uppercase;
	color: var(--col-grey);
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 15px;
	line-height: 20px;
	transition: .7s;
}

.nav-link:hover {
	color: var(--col-blue);
	transition: .7s;
}

.hero-banner {
	padding-top: 150px;
	padding-bottom: 135px;
	font-family: sans-serif;
	text-transform: uppercase;
	color: #fff;
	font-size: 52px;
	font-weight: 700;
	line-height: 75px;
	text-align: center;
}
