.main-cont {
	width: 100vw;
	text-align: center;
}

/* TRIANGLES */

.triangle {
	width: 100vw;
	position: relative;
}

.upper-triangle {
	width: 100vw;
}

.upper-triangle::before {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	left: 0;
	top: -85px;
	border-bottom: 85px solid #fff;
	border-right: 50vw solid transparent;
}

.upper-triangle::after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	right: 0;
	top: -85px;
	border-bottom: 85px solid #fff;
	border-left: 50vw solid transparent;
}

.lower-triangle {
	width: 100vw;
}

.lower-triangle::before {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	left: 0;
	top: 0;
	border-top: 85px solid #fff;
	border-left: 50vw solid transparent;
}

.lower-triangle::after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	right: 0;
	top: 0;
	border-top: 85px solid #fff;
	border-right: 50vw solid transparent;
}

/* WHAT */

#cont-what {
	padding: 145px 10px 90px;
}

.l-title {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 60px;
	color: var(--col-blue);
	text-transform: uppercase;
	margin-bottom: 30px;
}

.s-title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 18px;
	color: var(--col-grey);
	margin-bottom: 30px;
}

.cont-what-text {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 30px;
	color: var(--col-grey);
}

/* COMPANIES */

.companies-bg {
	background: url(../../images/bg2.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

#cont-companies {
	padding: 145px 0 100px;
}

#cont-companies > .s-title {
	color: #fff;
}

.cont-companies-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
	align-items: center;
	row-gap: 100px;
}

/* MEET US */

#cont-meet-us {
	padding: 145px 0 125px;
}

.cont-meet-us-team {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 55px;
}

.meet-us-card-img {
	width: 200px;
}

.meet-us-card-text {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 28px;
	color: var(--col-grey);
	margin-top: 20px;
}

/* TESTIMONIALS */

.testimonials-bg {
	background: url(../../images/bg2.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

#cont-testimonials {
	padding: 185px 0 140px;
}

#cont-testimonials > .s-title {
	color: #fff;
}

#cont-testimonials > blockquote {
	font-family: 'Open Sans', serif;
	font-style: italic;
	font-size: 16px;
	line-height: 28px;
	color: #D3CCCC;
}

#cont-testimonials > blockquote cite {
	display: flex;
	justify-content: flex-end;
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
	margin-top: 28px;
	margin-right: 80px;
}


/* WHY */

#cont-why {
	padding: 145px 0 90px;
}

.cont-why-text {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 30px;
	line-height: 48px;
	color: var(--col-grey);
}


/* FOOTER */

.main-foot {
	text-align: center;
	margin-bottom: 90px;
}

.copyright {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: var(--col-grey);
}

.copyright span {
	font-weight: 600;
	font-size: 16px;
}
