.wrapper {
    font-family: 'Arial', sans-serif;
    background: black;
    padding: 25px;
}

.form {
    border: 2px solid white;
    border-radius: 15px;
    display: inline-block;
    padding: 25px;
    position: relative;
}

.form-title {
    font-weight: bold;
    font-size: 20px;
    padding-right: 10px;
	color: white;
}

.input-text {
    padding-right: 10px;
}

.form-input {
    padding: 5px;
	outline:none;
	border: 3px solid white;
}

.focused {
    border: 3px solid lime;
	box-sizing: border-box;
}

.error {
    border: 3px solid red;
	box-sizing: border-box;
}

.form-current-price {
    color: lime;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding-left: 25px;
    position: absolute;
    right: 25px;
    top: 2px;
}

.remove-button {
    background: white;
    margin-left: 5px;
    color: lime;
    border: 1px solid lime;
    font-weight: 700;
    border-radius: 50%;
}

.green-text {
    color: lime;
    font-weight: 700;
}

.validation-message {
    display: block;
    padding-top: 10px;
    text-align: right;
    color: red;
}

.hidden {
    display: none;
}
