body {
	font-family: 'Roboto', sans-serif;
	background: url(../images/top-bg-img.jpg) no-repeat;
	background-size: cover;
}

.container {
	width: 1028px;
	margin: 0 auto;
}

/* HEADER */

.main-head {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	margin-bottom: 18px;
}

/* LOGO */

.head-logo {
	display: flex;
	text-decoration: none;
}

.head-logo:hover > .logo,
.head-logo:hover > .head-title {
	fill: #F26522;
	color: #F26522;
	transition: 1s;
}

.logo {
	padding-right: 10px;
	fill: #FFFFFF;
	transition: 1s;
}

.head-title {
	font-weight: bold;
	font-size: 29px;
	line-height: 29px;
	color: #FFFFFF;
	display: flex;
	flex-direction: column;
	text-transform: uppercase;
	transition: 1s;
}

.head-title > span {
	font-size: 18px;
	line-height: 18px;
}

/* CONTACTS */

.head-contacts {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	text-align: right;
}

.head-contact-link {
	text-decoration: none;
	color: #FFFFFF;
	transition: 1s;
}

.head-contact-link:hover {
	color: #F26522;
	transition: 1s;
}

/* MAIN CONTENT */

.tour-card {
	text-decoration: none;
	position: relative;
	overflow: hidden;
}

.favorite-tours {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 37px 64px;
}

.tour-shopping {
	background-image: url(../images/shopping.jpg);
	width: 300px;
	height: 220px;
  object-fit: cover;
}

.tour-sightseeing {
	background-image: url(../images/sightseeing.jpg);
	width: 300px;
	height: 220px;
  object-fit: cover;
}

.tour-food {
	background-image: url(../images/food.jpg);
	width: 300px;
	height: 220px;
  object-fit: cover;
}

.tour-nightlife {
	background-image: url(../images/nightlife.jpg);
	width: 300px;
	height: 220px;
  object-fit: cover;
}

.tour-architecture {
	background-image: url(../images/architecture.jpg);
	width: 300px;
	height: 220px;
  object-fit: cover;
}

.tour-walking {
	background-image: url(../images/walking.jpg);
	width: 300px;
	height: 220px;
  object-fit: cover;
}


.tour-item {
	position: absolute;
	width: 300px;
	background-color: #F26522;
	padding: 12px 16px;
	color: #fff;
	top: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	box-sizing: border-box;
	transform: scale(0);
	transition: top 0.3s, transform 0.3s;
}

.tour-food:hover > .tour-item {
	top: 165px;
	transform: scale(1);
}

.tour-nightlife:hover > .tour-item {
	top: 165px;
	transform: scale(1);
}

.tour-sightseeing:hover > .tour-item {
	top: 165px;
	transform: scale(1);
}

.tour-shopping:hover > .tour-item {
	top: 165px;
	transform: scale(1);
}

.tour-walking:hover > .tour-item {
	top: 165px;
	transform: scale(1);
}

.tour-architecture:hover > .tour-item {
	top: 165px;
	transform: scale(1);
}

.tour-text {
	font-size: 10px;
	margin-bottom: 8px;
}

.price {
	font-size: 20px;
}

.details {
	font-size: 14px;
}

.details::after {
	content: url(../images/arrow.svg);
	padding-left: 16px;
	padding-top: 5px;
}

.tour-title {
	text-align: center;
	font-size: 18px;
	color: #fff;
	margin-top: 20px;
}

.main-footer {
	position: absolute;
	bottom: 0;
	left: 43%;
	font-size: 12px;
	color: #fff;
	padding-bottom: 15px;
}
