@import 'reset.css';

@import '_common.css';


.centered-content {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.nav-tabs {
	display: flex;
	margin-bottom: 25px;
}

.nav-tabs-title {
	padding: 20px;
	background-color: #23201D;
	color: #937341;
	cursor: pointer;
}

.tabs-content {
    color: #23201D;
}

.tabs-title.active {
	background-color:#937341 ;
	color: #23201D;
}

.nav-tabs-title:first-child {
	border-radius: 15px 0 0 15px;
}

.nav-tabs-title:last-child {
	border-radius: 0 15px 15px 0;
}

.tabs-content-item {
    padding: 20px;
    border-radius: 5px;
    font-size: 20px;
    display: none;
}

.title-tabs {
    padding-right: 10px;
    font-weight: 700;
    font-size: 25px;
}

.active-tab {
    display: inline-block;
    background-color: #937341;
    color: #23201D;
}

.active-text {
    display: inline-block;
}
