.container {
	max-width: 1280px;
	padding: 0;
	margin: 0 auto;
}

body {
	color: #373737;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
}

.menu__list {
	display: flex;
	justify-content: center;
	height: 78px;
}

.menu__item {
	list-style: none;
	padding: 26px 36px;
}

.menu__list-link {
	text-transform: uppercase;
	text-decoration: none;
	color: #FF0000;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;
}

.image {
	height: 780px;
	background-image: url(../images/hw-02.jpeg);
	background-position: cover;
	background-repeat: no-repeat;
}

.main__content {
	text-align: center;
}

.main__content-article {
	text-transform: uppercase;
	font-family: 'Montserrat',sans-serif;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	letter-spacing: 3.3px;
	padding: 48px 0 24px;
}

.main__content-text {
	font-family: 'Montserrat',sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 2.4px;
	padding: 14px 65px;
}

.button {
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	background: #FF0000;
	color: #fff;
	border-radius: 4px;
	padding: 18px 43px;
	font-weight: bold;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 1.8px;
	margin: 52px auto 42px;
}

.copyright {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 2.4px;
	text-align: right;
	margin: 40px auto 29px;
}
