body {
	font-family: 'Ubuntu', sans-serif;
	background: url(../images/background.jpg) no-repeat;
	background-size: cover;
}

.main-head {
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: space-between;
	padding: 18px 79px;
}

.main-head-logo {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: 22px;
	transition: .5s;
}

.main-head-logo:hover {
	color: #01813F;
	transition: .5s;
}

.main-head-cont {
	display: flex;
	flex-direction: row;
}

.head-cont-link {
	text-decoration: none;
	margin-right: 25px;
}

.head-icon path {
	transition: .5s;
}

.head-cont-link:hover > .head-icon path {
	fill: #01813F;
	transition: .5s;
}

.head-cont-text {
	display: flex;
	align-items: center;
	border-left: 1px solid rgba(255, 255, 255, 0.1);
	padding-left: 25px;
	white-space: pre;
	color: #fff;
	font-size: 14px;
}

.head-cont-login {
	text-decoration: none;
	color: #fff;
	transition: .5s;
}

.head-cont-login:hover {
	color: #01813F;
	transition: .5s;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-form {
	width: 444px;
	margin-top: 54px;
	padding: 33px 59px;
	background-color: #fff;
	box-sizing: border-box;
	position: relative;
	margin-bottom: 38px;
}

.form-sign {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	margin-bottom: 15px;
}

.green-squar {
	position: absolute;
	left: 0;
	background-color: #3cb878;
	width: 18px;
	height: 18px;
}

.form-sign-title {
	font-size: 20px;
}

.form-sign-link {
	text-decoration: none;
	color: #3CB878;
	font-size: 14px;
	transition: .5s;
}

.form-sign-link:hover {
	text-decoration:underline;
	color: #01813F;
	transition: .5s;
}

.sign-buttons {
	display: flex;
	justify-content: space-between;
}

.button-facebook {
	width: 160px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding: 10px 22px 10px 16px;
	border-radius: 4px;
	text-decoration: none;
}

.button-text {
	font-size: 16px;
	color: #fff;
}

.button-facebook > .button-text:before {
	content: '';
	border-left: 1px solid #0A162F;
	margin: 0 18px;
	padding: 5px 0;
	opacity: .1;
}

.button-google {
	width: 160px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding: 10px 27px 10px 12px;
	border-radius: 4px;
	text-decoration: none;
}

.button-google > .button-text:before {
	content: '';
	border-left: 1px solid #0A162F;
	margin: 0 30px 0 7px;
	padding: 5px 0;
	opacity: .1;
}

.text-with-line {
	margin-top: 31px;
	margin-bottom: 11px;
}

.text-with-line::before, .text-with-line::after {
	content: '';
	height: 1px;
	width: 152px;
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	background: #F2F2F2;
	border: solid #FFF;
	border-width: 0 5px;
}

/* FORM LIST */

.main-form-list {
	display: flex;
	flex-direction: column;
}

.main-form-row {
	padding: 16px 20px;
	margin-bottom: 15px;
	border: 1px solid #F2F2F2;
	border-radius: 4px;
	color: #BEBEBE;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	box-sizing: border-box;
	outline: none;
}

.main-form-row:hover, .main-form-row:focus, .main-form-row:active {
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
	border-radius: 4px;
	border: 1px solid #fff;
	color: #434343;
}

.main-form-link {
	font-family: 'Ubuntu', sans-serif;
	text-decoration: none;
	font-size: 14px;
	color: #3CB878;
	transition: 1s;
}

.main-form-link:hover {
	text-decoration: underline;
	color: #01813f;
	transition: 1s;
}

.main-form-check {
	margin-bottom: 20px;
}

.main-form-btm {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	color: #fff;
	padding: 16px 99px;
	border: none;
	outline: none;
	border-radius: 4px;
	transition: 1s;
	background-color: #3cb878;
}

.main-form-btm:hover {
	background-color: #01813f;
	transition: 1s;
}

.blue-btn {
	background-color: #305DB8;
	transition: 1s;
}

.blue-btn:hover {
	background-color: #022263;
	transition: 1s;
}


.red-btn {
	background-color: #df4a32;
	transition: 1s;
}

.red-btn:hover {
	background-color: #AB1F09;
	transition: 1s;
}
