* {
	padding: 0;
	margin: 0;
}

ul[class],
ol[class] {
	padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

ul[class],
menu[class] {
	list-style: none;
}

input,
button,
textarea,
select {
	font: inherit;
}
