* {
	border-spacing: 0;
}

.first-table {
	border: 24px solid #3A4965;
	font-family: 'Arimo', sans-serif;
	font-size: 16px;
	color: #484848;
	background-color: #F2F2F2;
	margin: 50px auto;
	text-transform: uppercase;
	text-align: center;
	border-collapse: collapse;
}

caption {
	margin-bottom: 20px;
	font-size: 40px;
}

.thead-item {
	font-weight: bold;
	font-size: 30px;
	line-height: 28px;
	color: #fff;
	padding: 22px 55px;
}

.thead-stext {
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
	color: #484848;
}

.thead-ltext {
	font-weight: bold;
	font-size: 30px;
	line-height: 28px;
	color: #484848;
}

.thead-item-price {
	border-left: 2px ridge #E3E3E3;
	border-right: 2px ridge #E3E3E3;
	font-weight: bold;
	font-size: 60px;
	padding: 25px 35px 15px;
}

.thead-item-price span {
	font-size: 18px;
	font-weight: 400;
}

.thead-price {
	display: inline-block;
	vertical-align: top;
	text-align: left;
	font-size: 24px;
	line-height: 1;
}

.tbody-item {
	border-left: 2px ridge #E3E3E3;
	border-right: 2px ridge #E3E3E3;
	padding: 22px 0;
}

.tbody-item-icon {
	margin-bottom: -4px;
	margin-right: 5px;
}

.tfoot-item {
	border-left: 2px ridge #E3E3E3;
	border-right: 2px ridge #E3E3E3;
}

.tfoot-btn {
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	color: #fff;
	padding: 18px 57px;
	margin: 30px 0;
	border-radius: 5px;
	box-shadow: 0 -6px 0 rgba(0,0,0,0.3) inset;
}

.second-table {
	border: 24px solid #3A4965;
	font-family: 'Arimo', sans-serif;
	font-size: 16px;
	color: #484848;
	margin: 10px auto 50px;
	text-transform: uppercase;
	border-collapse: collapse;
}

.stable-thead-row {
	border-bottom: 12px solid #3A4965;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.stable-thead-item {
	width: 160px;
	font-size: 24px;
	font-weight: bold;
	padding: 26px 0 28px;
}

.stable-thead-plan {
	width: 200px;
}

.stable-thead-stext {
	font-weight: bold;
	font-size: 14px;
}

.stable-thead-ltext {
	font-weight: bold;
	font-size: 20px;
}

.stable-tbody-row {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.stable-tbody-list {
	width: 200px;
	text-align: center;
	color: #fff;
	padding: 24px 0;
}

.stable-tbody-art {
	font-weight: bold;
	font-size: 24px;
}

.stable-price {
	display: block;
	font-weight: bold;
	font-size: 36px;
}

.stable-tbody-price {
	font-size: 18px;
	vertical-align: top;
}

.stable-price span {
	font-size: 14px;
	vertical-align: middle;
}

.stable-btn {
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	line-height: 28px;
	color: #fff;
	padding: 8px 40px;
	margin-top: 11px;
	box-shadow: 0 -6px 0 rgba(0,0,0,0.3) inset;
	border-radius: 5px;
}

.stable-tbody-item {
	width: 160px;
	text-align: center;
	padding: 68px 0;
	border-bottom: 1px solid #afafaf;
}

.bgc-white {
	background-color: #FAFAFA;
}

.bgc-green {
	background-color: #89C331;
}

.bgc-pink {
 background-color: #F04A56;
}

.bgc-blue {
	background-color: #20807C;
}

.bgc-gray {
	background-color: #E3E3E3;
}

.bgc-darkgray {
	background-color: #484848;
}
