@font-face {
  font-family: "STARWARS";
  src:url("../font/STARWARS.eot") format("eot"),url("../font/STARWARS.woff2") format("woff"),url("../font/STARWARS.ttf") format("truetype"),url("../font/STARWARS.svg") format("svg");
  font-weight:normal;
  font-style:normal;
}

:root {
  --col-yellow: #ffff00;
}

.container {
  margin: 0 auto;
}
