@import 'reset.css';

@import '_common.css';


body {
	background: url(../images/background.png);
	background-color: #000;
	color: var(--col-yellow);
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: relative;
}

audio {
	position: absolute;
}

.starwars-prologe {
	perspective: 500px;
	width: 1200px;
	height: 400px;
	margin: 0 auto;
}

.prologe-cont {
	margin: 50% 0 0 0;
	font-family: sans-serif;
	position: relative;
	animation: starwars 30s linear;
	animation-iteration-count: infinite;
	transform-style: preserve-3d;
}

.prologe-title {
	font-family: "STARWARS";
	font-size: 70px;
	margin-bottom: 80px;
	text-align: center;
}

.prologe-text {
	font-family: sans-serif;
	font-weight: 600;
	font-size: 45px;
	line-height: 2;
	margin-bottom: 60px;
}

@keyframes starwars {
	0% {
		opacity: 1;
		top: 0;
		transform: scale3d(1, 1, 4) translateZ(0) rotateX(10deg);
	}

	100% {
		opacity: 0;
		top: -2500px;
		transform: scale3d(1, 1, 5) translateZ(-500px) rotateX(10deg);
	}
}
